@ey-xd:registry=https://eyctpeu.jfrog.io/artifactory/api/npm/eyctxd-motif-npm-prod-eu/
@ey:registry=https://eyctpeu.jfrog.io/artifactory/api/npm/ey-microapp-platform-npm-prod-eu/
@ey-studio-phl:registry=https://npm.ey-intuitive.com
registry=https://registry.npmjs.com/

save-exact=true
always-auth=true